{layout 'layouts/layout.latte'}

{block title}First page{/block}

{block content}<p>Lorem Gypsum...</p>

{if Library\Auth\Auth::isLogin()}
    Zalogowany {Library\Auth\Auth::user()->name}
    {else}
        Nie zalogowano
{/if}

{/block}
